/* Colours
============================================*/
/* Fonts
============================================*/
/* Layout / Spacing
============================================*/
/* Font Sizes
============================================*/
@font-face {
  font-family: "Universal Sans"; /* Name of the font */
  src: url("../fonts/universal-sans/universal-sans.woff2") format("woff2"), url("../fonts/universal-sans/universal-sans.woff") format("woff"), url("../fonts/universal-sans/universal-sans.ttf") format("truetype"); /* Legacy format */
  font-weight: normal; /* Adjust based on font weight */
  font-style: normal; /* Adjust based on font style */
  font-display: swap; /* Improves loading performance */
}
.editor-styles-wrapper {
  font-family: "Universal Sans";
  background: #F9EFEB;
  padding: 0px 40px;
  /* Button Base
  ====================================*/
  /* Custom Gutenberg colors */
  /* 20px */
  /* 30px */
  /* 40px */
  /* 50px */
  /* 75px */
  /* Example: Responsive Margins */
}
.editor-styles-wrapper .wp-block-post-title {
  margin-bottom: 60px;
}
.editor-styles-wrapper p {
  font-size: 1.375rem;
  line-height: 1.45em;
  letter-spacing: -0.05em;
  color: #2B2A35;
}
@media (max-width: 768px) {
  .editor-styles-wrapper p {
    font-size: 1.25rem;
  }
}
.editor-styles-wrapper h1,
.editor-styles-wrapper .hdln-1 {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0px;
  color: #2B2A35;
}
@media (max-width: 768px) {
  .editor-styles-wrapper h1,
  .editor-styles-wrapper .hdln-1 {
    font-size: 3.25rem;
  }
}
.editor-styles-wrapper h2,
.editor-styles-wrapper .hdln-2 {
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2B2A35;
}
@media (max-width: 768px) {
  .editor-styles-wrapper h2,
  .editor-styles-wrapper .hdln-2 {
    font-size: 1.875rem;
  }
}
.editor-styles-wrapper h3,
.editor-styles-wrapper .hdln-3 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2B2A35;
}
@media (max-width: 768px) {
  .editor-styles-wrapper h3,
  .editor-styles-wrapper .hdln-3 {
    font-size: 1.75rem;
  }
}
.editor-styles-wrapper h4,
.editor-styles-wrapper .hdln-4 {
  line-height: 1;
  letter-spacing: -0.05em;
  font-size: 1.375rem;
  color: #2B2A35;
}
@media (max-width: 768px) {
  .editor-styles-wrapper h4,
  .editor-styles-wrapper .hdln-4 {
    font-size: 1.25rem;
  }
}
.editor-styles-wrapper .txt-small {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .txt-small {
    font-size: 1rem;
  }
}
.editor-styles-wrapper .txt-medium {
  font-size: 1.375rem;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .txt-medium {
    font-size: 1.25rem;
  }
}
.editor-styles-wrapper .txt-large {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .txt-large {
    font-size: 1.75rem;
  }
}
.editor-styles-wrapper .txt-xlarge {
  font-size: 2.25rem;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .txt-xlarge {
    font-size: 1.875rem;
  }
}
.editor-styles-wrapper .txt-xxlarge {
  font-size: 5rem;
}
@media (max-width: 768px) {
  .editor-styles-wrapper .txt-xxlarge {
    font-size: 3.25rem;
  }
}
.editor-styles-wrapper .txt-primary {
  color: #F9EFEB;
}
.editor-styles-wrapper .txt-secondary {
  color: #2B2A35;
}
.editor-styles-wrapper .txt-accent {
  color: #FE1F0F;
}
.editor-styles-wrapper .has-peach-color {
  color: #F9EFEB;
}
.editor-styles-wrapper .has-peach-background-color {
  background-color: #F9EFEB;
}
.editor-styles-wrapper .has-peach-dark-color {
  color: #F3E1D8;
}
.editor-styles-wrapper .has-peach-dark-background-color {
  background-color: #F3E1D8;
}
.editor-styles-wrapper .has-dark-color {
  color: #2B2A35;
}
.editor-styles-wrapper .has-dark-background-color {
  background-color: #2B2A35;
}
.editor-styles-wrapper .has-red-color {
  color: #FE1F0F;
}
.editor-styles-wrapper .has-red-background-color {
  background-color: #FE1F0F;
}
.editor-styles-wrapper .has-white-color {
  color: #FFF;
}
.editor-styles-wrapper .has-white-background-color {
  background-color: #FFF;
}
.editor-styles-wrapper .has-black-color {
  color: #000;
}
.editor-styles-wrapper .has-black-background-color {
  background-color: #000;
}
.editor-styles-wrapper .spacer-small {
  height: 1.25rem;
}
.editor-styles-wrapper .spacer-medium {
  height: 3.75rem;
}
.editor-styles-wrapper .spacer-large {
  height: 2.5rem;
}
.editor-styles-wrapper .spacer-xlarge {
  height: 3.125rem;
}
.editor-styles-wrapper .spacer-xxlarge {
  height: 4.688rem;
}
@media (min-width: 768px) {
  .editor-styles-wrapper {
    /* 40px */
    /* 60px */
    /* 80px */
    /* 100px */
    /* 130px */
  }
  .editor-styles-wrapper .spacer-small {
    height: 2.5rem;
  }
  .editor-styles-wrapper .spacer-medium {
    height: 3.75rem;
  }
  .editor-styles-wrapper .spacer-large {
    height: 5rem;
  }
  .editor-styles-wrapper .spacer-xlarge {
    height: 6.25rem;
  }
  .editor-styles-wrapper .spacer-xxlarge {
    height: 8.125rem;
  }
}

/*# sourceMappingURL=editor-style.css.map */
